---
start: "2020-09-01"
end: "2020-09-14"
limit: 100000

sources:
  - project: "dummy-project-01"
    dataset: "dataset_01"

filters:
  excluded_principal_emails:
    - "bot"
    - "png"
    - "@example.com"
  excluded_tables:
    - ".*\\.excluded_dataset\\..*"